{
  "env": {
      "browser": true
  },
  "parserOptions": {
      "ecmaVersion": 2020
  },
  "globals": {
      "sap": "readonly",
      "QUnit": "readonly",
      "sinon": "readonly",
      "$": "readonly"
  },
  "rules": {
      "no-console": "error"
  }
}